# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Model artifacts (optional if large)
*.pkl

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# VS Code
.vscode/